server:
  port: 8082

spring:
  application:
    name: transaction-service

  datasource:
    url: jdbc:postgresql://localhost:5432/transaction_db
    username: admin
    password: password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  kafka:
    bootstrap-servers: localhost:9092
    template:
      observation-enabled: true
    listener:
      observation-enabled: true
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    consumer:
      group-id: transaction-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"

management:
  tracing:
    sampling:
      probability: 1.0 # Log 100% of requests (Don't do this in Prod!)
  zipkin:
    tracing:
      endpoint: "http://localhost:9411/api/v2/spans"

resilience4j:
  circuitbreaker:
    instances:
      account-validation:
        registerHealthIndicator: true
        slidingWindowSize: 5          # Check the last 5 calls
        failureRateThreshold: 50      # If 50% fail (2.5 calls), open circuit
        waitDurationInOpenState: 10s  # Wait 10s before trying again
        permittedNumberOfCallsInHalfOpenState: 3